body {
  background-color: #fbe4d8;
  font-family: Arial, Helvetica, sans-serif;
}

footer {
  font-size: 10px;
  display: block;
  text-align: center;
  padding: 30px 0 0 0;
}

.weather-app {
  background: #ffff;
  margin: 45px auto;
  padding: 30px;
  border-radius: 18px;
  max-width: 600px;
  max-height: 1000px;
}

.search_form {
  display: block;
}

.input {
  background-color: #dfb6b2;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  padding: 15px 20px;
  width: 75%;
}

.search-button {
  font-size: 18px;
  background: #2b124c;
  color: #ffff;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
}

.weather {
  display: flex;
  justify-content: space-between;
}

.current-weather-icon {
  display: inline-block;
  font-size: 4px;
}

.temperature {
  margin: 0;
  font-size: 38px;
  display: block;
}

.weather_details {
  font-size: px;
  display: contents;
}

.location-pin {
  display: inline-block;
  font-size: 2px;
}
